@import "compass/css3";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
  overflow: hidden;
}

canvas {
  display: none;
}
canvas.show {
  display: block;
}

.text {
  position: absolute;
  color: transparent;
  position: absolute;
  top: 90%;
  transform: translate(0, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  transition: all 1s ease-in-out;
  width: 100%;
  text-align: center;
}
.text::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "2023";
  font-size: 14rem;
  color: transparent;
  z-index: -1;
  transition: all 5s ease-in-out;
}
.text.show {
  color: #52ff02;
  top: 50%;
}
.text.show::before {
  -webkit-text-stroke: 1px red;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  background: #22222a;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}

@media (max-width: 522px) {
  .text::before {
    font-size: 10rem;
  }
}
@media (max-width: 379px) {
  .text::before {
    font-size: 7rem;
  }
}
